.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

/bin/
/dist/
/build/
*.test
coverage.out

*.log
*.trace
*.pprof

.env
.env.*
*.env
**/*.env
.envrc

keystore/
**/keystore/**
UTC--*
*keystore*.json
wallet*.json

*.key
*.pem
*.p12
*.pkcs12
*.asc
id_*
*.gpg

config/*.env
config/*.secrets
.secrets/
**/.secrets/**

node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml